.logo {
  position: absolute; }

#banner {
  display: flex;
  justify-content: center;
  height: 45px;
  background: #3a3a3c; }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #818285;
  height: 45px;
  width: 10%;
  font-family: "Oswald", sans-serif; }

.menuBullet {
  display: flex;
  color: #818285;
  align-items: center; }

.postContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 325px;
  background-color: white;
  margin: 12px; }

.postImages {
  height: 170px;
  width: 275px; }

#footer {
  display: flex;
  justify-content: center;
  background: #3a3a3c; }

#fbOrange {
  display: none; }

#facebook:hover #fbGray {
  display: none; }

#facebook:hover #fbOrange {
  display: block; }

#instOrange {
  display: none; }

#instagram:hover #instGray {
  display: none; }

#instagram:hover #instOrange {
  display: block; }

@media only screen and (max-width: 768px) {
  .logo {
    position: absolute; }
  #banner {
    display: flex;
    justify-content: center;
    height: 40px;
    background: #3a3a3c; }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #818285;
    height: 40px;
    width: 20%;
    font-family: "Oswald", sans-serif; }
  .menuBullet {
    display: flex;
    color: #818285;
    align-items: center; }
  .postContainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 325px;
    background-color: white;
    margin: 12px; }
  .postImages {
    height: 170px;
    width: 275px; }
  #footer {
    display: none; } }

@media only screen and (max-width: 425px) {
  .logo {
    position: absolute;
    left: 0%; }
  #logoLines {
    display: none; }
  #banner {
    display: flex;
    justify-content: center;
    height: 35px;
    background: #3a3a3c; }
  .menuBullet {
    display: none; }
  .menu {
    display: flex;
    justify-content: center;
    border-top: 1px #818285 solid;
    width: 25%;
    height: 35px;
    font-family: "Oswald", sans-serif; }
  #menu2 {
    border-left: 1px #818285 solid; }
  #menu3 {
    border-left: 1px #818285 solid;
    border-right: 1px #818285 solid; }
  .postContainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480px;
    width: 95%;
    background-color: white;
    margin-top: 12px; }
  .postImages {
    margin-top: 25px;
    height: 50%;
    width: 90%; }
  #footer {
    display: none; } }

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; }

.fa-plus-square {
  position: absolute;
  left: 90%;
  color: #b74326;
  font-size: 2em; }

.fa-plus-square:hover {
  color: white;
  background: #f1592b; }

.menu:hover {
  color: #f1592b; }

#content {
  display: flex;
  justify-content: center;
  background-image: url(/../assets/bg.jpg);
  background-size: cover; }
