.logo {
  position: absolute;
}

.menuBullet {
  color: $menuLightColor;
}

#footer {
  display: flex;
  justify-content: center;
}

// swap FB img display on hover
#fbOrange {
  display: none;
}
#facebook:hover #fbGray {
  display: none;
}
#facebook:hover #fbOrange {
  display: block;
}

// swap Instagram img display on hover
#instOrange {
  display: none;
}
#instagram:hover #instGray {
  display: none;
}
#instagram:hover #instOrange {
  display: block;
}
