@media only screen and (max-width: 425px) {
  .logo {
    position: absolute;
    left: 0%;
  }

  #logoLines {
    display: none;
  }

  #banner {
    display: flex;
    justify-content: center;
    height: $smallBannerHeight;
    background: $menuDarkColor;
  }

  .menuBullet {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: center;
    border-top: 1px $menuLightColor solid;
    width: 25%;
    height: $smallBannerHeight;
    font-family: $menuFont;
  }

  #menu2 {
    border-left: 1px $menuLightColor solid;
  }

  #menu3 {
    border-left: 1px $menuLightColor solid;
    border-right: 1px $menuLightColor solid;
  }

  .postContainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480px;
    width: 95%;
    background-color: white;
    margin-top: 12px;
  }

  .postImages {
    margin-top: 25px;
    height: 50%;
    width: 90%;
  }

  #footer {
    display: none;
  }
}
