@media only screen and (max-width: 425px) {
  .logo {
    position: absolute;
    left: 0%;
  }

  #logoLines {
    display: none;
  }

  .menuBullet {
    display: none;
  }

  .menu {
    border-top: 1px $menuLightColor solid;
  }

  #menu2 {
    border-left: 1px $menuLightColor solid;
    border-right: 1px $menuLightColor solid;
  }

  #menu3 {
    border-left: 1px $menuLightColor solid;
    border-right: 1px $menuLightColor solid;
  }

  #footer {
    display: none;
  }
}
